body {
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #222;
  margin: 0;
  padding: 0;
  color: #fff;
}

.sunDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.weather-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #313131;
  height:200px;
}

.chart-container {
  width: 80%;
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #313131;
  height: 60vh;
  min-height: 400px;
}

.temperatureChart {
  width: 75vw;
  height: 100%;
}

.subheaderContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: 125px;
}

.subheader {
  display: flex;
  text-align: flex-end;
  justify-content: left;
  font-weight: lighter;
  font-size: 2vw;
}

h2, h3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 2vw;
  justify-content: center;
}

.subInfo {
  display: flex;
  align-items: center;
  font-size: 2vw;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0px;
}

.modal-content {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 1;
}

.tempDiv {
  display: flex;
  align-items: center;
  font-size: 4vw;
  margin-top: 0;
  margin-bottom: 0px;
}

.sun {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date {
  display: flex;
  width: 20vw;
  flex-direction: column;
  align-items: left;
  justify-self: left;
  margin-left: 20px;
  justify-content:space-around;
}

.temperature {
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
}

.highAndLow {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.additionalInfo {
  width: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;  
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}

.marsDate {
  font-weight: bold;
  font-size: 5vw;
  margin:0;
  justify-content:left;
}

.earthDate {
  font-size:2.5vw;
  margin:0;
  height:auto;
  justify-content: left;
}
 
.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
  padding: 30px;
  background-color: #222;
  height: auto;
  width: 80vw;
  margin-bottom: 32px;
}

.slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #222;
  height: 70vh;
  width: 80vw;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff0;
  border: 0px solid #fff;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin: -12px;
  width: 100px;
  height: 50px;
}

.button-left {
  display: flex;
  justify-self: left;
}

.rover-photo {
  display: flex;
  max-height: 65vh;
  max-width: 65vw;
  
}

.photo-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#modalCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.pictureTitle {
  margin-bottom: 0;
  margin-top:0;
  font-size: 5vw;
}

/* Default styles for chart title */
.chart-title {
  font-size: 40px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2, h3 {
    font-size: 6vw;
  }
  
  .weather-container {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .tempDiv {
    display: flex;
    align-items: center;
    font-size: 12vw;
    margin-top: 0;
    margin-bottom: 0px;
  }
  
  .subheaderContainer {
    height: fit-content;
    text-align: center;
    width: 100%;
    display: block;
  }
  
  .subheader {
    font-size: 4vw;
  }

  .subInfo {
    display: flex;
    align-items: center;
    font-size: 6vw;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0px;
  }
  
  .date {
    width: 100%;
    margin: 0;
    justify-content: center;
    height: auto;
    justify-content: space-around;
    margin-top: 16px;
  }
  
  .dates {
    width: 100%;
    margin: 0;
    height: auto;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
  }

  
  .temperature {
    margin: 40px 0;
  }
  
  .additionalInfo {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 24px;
  }
  
  .marsDate {
    justify-content: center;
    font-size: 8vw;
  }
  
  .earthDate {
    justify-content: center;
    font-size: 5vw;
    font-weight: 200;
  }
  
  .photo-container {
    width: 100%;
    padding: 20px;
  }

  .pictureTitle {
    font-size: 6.5vw;
  }
  

  .subheader {
    font-size: 6vw;
  }
  
  .slide {
    height: auto;
    padding: 20px;
    flex-direction: column;
  }
  
  .rover-photo {
    max-height: 50vh;
    max-width: 80vw;
  }
  
  .modal-content {
    width: 90%;
  }
  
  #modalCaption {
    height: auto;
    font-size: 20px;
  }
  
  .button-left {
    justify-content: center;
  }
  
  button {
    font-size: 20px;
    width: 80px;
    height: 40px;
    margin: 0 20px;
  }

  .chart-container {
    height: 40vh;
    padding: 20px;
    min-height: 400px;
  }

  .chart-title {
    font-size: 24px;
  }

  .rover-photo {
    display: flex;
    max-height: 90vw;
    max-width: 90vw;
    margin: 24px 0;
  }
}

.photo-container {
  position: relative;
  margin-top: 1rem;
}

.button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  z-index: 1000;
}

@media (min-width: 768px) {
  .button-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      box-sizing: border-box;
      align-items: center;
  }
  .button-left {
      order: 1;
  }
  #next-photo {
      order: 2;
  }
}
